@font-face {
  font-family: "publicsans-regular";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "publicsans-semibold";
  src: url("../fonts/PublicSans-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "publicsans-italic";
  src: url("../fonts/PublicSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "publicsans-semibolditalic";
  src: url("../fonts/PublicSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
