@charset "UTF-8";

@import "fonts";
@import "mixins";
@import "vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  zoom: 1;
}
body {
  background-color: var(--color-tan);
  color: var(--color-dark-blue);
  @include font("regular");
  font-size: $base-font-size;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a[href="#main"] {
    @include accessibility;
  }
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: publicsans-semibold, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}
em,
i {
  font-family: publicsans-italic, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
}
a {
  color: var(--color-bright-blue);
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
  transition: 0.2s all;
}
abbr {
  text-decoration: none;
}
img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
sup {
  font-size: 70%;
  line-height: 0.75em;
  margin-left: 2px;
}
h1,
h2 {
  @include remify("font-size", 18px);
  @media all and (min-width: $breakpoint-reader-min) {
    @include remify("font-size", 24px);
  }
  @media all and (min-width: $breakpoint-min) {
    @include remify("font-size", 28px);
  }
}
p,
li {
  line-height: 1.5em;
  @media all and (min-width: $breakpoint-reader-min) {
    @include remify("font-size", 18px);
  }
}
p:not(:first-of-type),
li:not(:first-of-type) {
  margin-top: 1em;
}

html,
body {
  height: 100%;
}
.outer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.inner {
  flex: 1;
}

.inner,
footer {
  background-color: rgb(255, 253, 247);
  @include remify("max-width", 1280px);
  margin: 0 auto;
  width: 100%;
}

.cta {
  color: var(--color-orange-text);
  display: block;
  @include font("semibold");
  text-decoration: none;
}

.wrapper {
  @include remify("padding-right", 20px);
  @include remify("padding-left", 20px);
  @media all and (min-width: $breakpoint-reader-min) {
    @include remify("padding-right", 40px);
    @include remify("padding-left", 40px);
  }
}
.panel-intro {
  margin-right: auto;
  margin-left: auto;
  @include remify("max-width", 660px);
  text-align: center;
  @include remify("margin-bottom", 40px);
  h2 {
    margin-bottom: 0.5em;
  }
}
.panel-alternating {
  @include remify("padding-top", 40px);
  @include remify("padding-bottom", 40px);
  @media all and (min-width: $breakpoint-min) {
    @include remify("padding-top", 80px);
    @include remify("padding-bottom", 80px);
  }
}
.panel-alternating:not(.bg-solid) + .panel-alternating:not(.bg-solid) {
  @include remify("padding-bottom", 84px);
  @media all and (min-width: $breakpoint-min) {
    @include remify("padding-bottom", 168px);
  }
}
.panel-sub {
  @include remify("padding-top", 40px);
}
.bg-solid {
  background-color: var(--color-gray);
}
.padding-extra-bottom {
  @include remify("padding-bottom", 46px);
  @media all and (min-width: $breakpoint-min) {
    @include remify("padding-bottom", 88px);
  }
}
.quote {
  color: var(--color-orange-text);
  @include font("semibold");
  @include remify("padding-top", 36px);
  @media all and (min-width: $breakpoint-min) {
    @include remify("padding-top", 74px);
  }
  text-align: center;
  blockquote {
    @include remify("max-width", 768px);
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    p {
      @include font("semibolditalic");
      @include remify("font-size", 20px);
      @media all and (min-width: $breakpoint-reader-min) {
        @include remify("font-size", 24px);
      }
    }
  }
}

button {
  -webkit-appearance: none;
  background: none;
  border: 0;
  @include font("regular");
  transition: 0.2s all;
}
.btn {
  background-color: var(--color-orange-text);
  color: white;
  cursor: pointer;
  display: block;
  @include font("semibold");
  font-size: inherit;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  padding-right: 3ch;
  padding-bottom: 1em;
  padding-left: 3ch;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-orange);
    transform: scale(1.1);
  }
}

a[href="https://craftcms.com/partners/clearbold"] {
  color: #e5422b;
}
